.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-bottom: 1px solid var(--lines-light);
}

.logo {
  font-family: 'Lora', serif;
  font-size: 42px;
  padding: 0.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .logo {
    font-size: 1.25rem;
    padding-right: 1em;
  }

  .header {
    grid-template-columns: auto 1fr;
  }
}
