.header {
  display: flex;
  /* grid-template-columns: calc(var(--sidebar-width) - 1px) 1fr; */
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border-bottom: 1px solid var(--lines-light);
}

.logo {
  cursor: pointer;
  font-weight: 750;
  font-size: 32px;
  border-right: 1px solid var(--lines-light);
  padding: 0.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header ul {
  list-style: none;
  display: flex;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}

@media screen and (max-width: 576px) {
  .logo {
    font-size: 1.35rem;
    padding-right: 1em;
  }

  .header {
    grid-template-columns: auto 1fr;
  }
}
