.task_exp {
  padding: 1.75em;
  display: flex;
  flex-direction: column;
  gap: 1.75em;

  width: calc(100vw - 1.5em);
  max-width: 500px;
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.keyword {
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 999px;
  padding: 0.5em 0.75em;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: -0.5em;
  gap: 1em;
}
