.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

.modal {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
}
