.layout {
  /* display: grid; */
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  overflow: hidden;
}

.main {
  overflow: scroll;
}

@media screen and (max-width: 576px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .main {
    padding-bottom: 3em;
  }
}
