.task {
  display: flex;
  justify-content: space-between;
  gap: 1.75em;
  padding: 1.5em;

  cursor: pointer;
}

.title {
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 1.5em;
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.keyword {
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 999px;
  padding: 0.5em 0.75em;
}

.keyword:nth-child(1) {
  background-color: rgb(244, 242, 155);
  border: 1px solid rgb(228, 220, 122);
}

.keyword:nth-child(2) {
  background-color: rgb(237, 174, 174);
  border: 1px solid rgb(207, 22, 22);
}

.keyword:nth-child(3) {
  background-color: rgb(171, 237, 180);
  border: 1px solid rgb(20, 193, 43);
}

.keyword:nth-child(4) {
  background-color: rgb(173, 212, 234);
  border: 1px solid rgb(20, 75, 193);
}

.keyword:nth-child(5) {
  background-color: rgb(190, 179, 222);
  border: 1px solid rgb(203, 174, 218);
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.buttons_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1em;
}

.buttons_wrapper button {
  height: fit-content;
}

@media screen and (max-width: 1080px) {
  .buttons_wrapper {
    flex-direction: column;
    justify-content: flex-end;
  }
}